*{
  margin: 0;
  padding: 0;
}

.dashboard_main_container {
  width: 100%;
  height: 100vh;
  display: flex;
}
.dashboard_section_container {
  height: 100%;
  width: 100%;
}

.dashboard_sidebar {
  height: 84px;
  width: 100%;
}
body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-color:#EBF5FE ;
}
