/* Reusable css btn-primary */
html,
body {
  padding: 0;
  margin: 0;
}
.all_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all_space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.all_end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
}

.icon_size {
  height: 20px;
  width: 20px;
}

.item_center {
  display: flex;
  justify-content: center;
}

.border {
  border-radius: 4px;
}

/* Login page css  */
.container_main {
  background-color: "#e8f0fe";
  width: 100%;
  height: 100%;
}

.eye_btn {
  border-radius: 4px;
  border-width: 1px;
  background-color: #e8f0fe;
  border-color: #f2f2f2;
  border: 1px solid #ebeff3;
}

.card_body {
  cursor: pointer;
  box-shadow: 0px 0px 40px #0000001a;
  border: none;
  max-width: 400px;
  width: 400px;
  margin: 10px;
}

.image_logo {
  margin-top: -50px;
  max-width: 100px;
}

.form-control-lo {
  max-width: 308px;
  width: 300px;
  border: 0px !important;
  box-shadow: none !important;
  background-color: #e8f0fe;
  position: relative;
  right: 40px;
  padding: 20px;
  margin-right: 60px;
  border-radius: 0.3px;
  font-family: sans-serif;
}
.form-control-lo:focus {
  max-width: 308px;
  border: 0px !important;
  box-shadow: none !important;
  color: #000000;
  background-color: #e8f0fe;
}

.form-control-lo::placeholder {
  color: #636363;
  font-weight: 450;
}

.input_icon {
  margin: auto;
  max-width: 320px;
}

.btn-primary {
  border: none;
  width: 100%;
  max-width: 308px;
  font-family: sans-serif;
  background-color: #2b27eb;
}

/* Dashboard css  */
.card_body {
  margin: 10px 10px;
  /* height: 85px; */
  width: 94%;
  border-radius: 12px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
}

.icon_layout {
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
}

.chat_card {
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.213);
  border-radius: 10px;
  max-width: 386px;
}

.main_chart {
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.213);
  border-radius: 10px;
  max-width: 1200px;
}

.profile_pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.card_name {
  min-width: 220px;
}

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}